<div column_formatter='street_address'>
    <h4>row.venue_name (row.venue_id)</h4>
    <a href='http://maps.google.com/?q=row.street_address,row.state row.zip'>row.street_address</a><br>
    <small>
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>:
        <strong>row.street_address</strong>,
        row.state row.zip</br>
        row.country
    </small>
</div>